:root {

  /*---------- COLORS ------------*/

  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  /*--------- GRADIENT COLOR -------*/

  --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75% ,  transparent 100% 100%);
  --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

  /* TYPOGRAPHY */

  /*---------- font-family ---------*/

  --fontFamily-forum: 'Forum', cursive;
  --fontFamily-dm_sans: 'DM Sans', sans-serif;

  /*-------- font-size ----------*/

  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /*---------- font-weight ---------*/

  --weight-regular: 400;
  --weight-bold: 700;

  /*---------- line-height ----------*/

  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /*-------- letter-spacing --------*/

  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /*---------- SPACING ------------*/

  --section-space: 70px;

  /*-------- SHADOW -----------*/

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /*----------- BORDER RADIUS --------*/

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-24: 24px;
  --radius-lg: 32px;
  --radius-xl: 40px;
  --radius-circle: 50%;

  /*---------- TRANSITION -----------*/

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;

}


.full-screen-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
  z-index: 1000;
  display: flex
;
  align-items: center;
  justify-content: center;
  animation: joomIn 0.5s ease-in;
  }
  @keyframes joomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
  
    }
    100% {
      transform: scale(1);
      opacity: 1; 
    }
    
  }
  .full-screen-overlay.out {
    animation: joomOut 0.4s ease-in forwards;
  }
  @keyframes joomOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;

    }
    100% {
      transform: scale(0);
      opacity: 0;
    }

  }
 
  .overlay-content {
    /* position: relative; */
    display: flex;
    width: 80%;
    /* max-width: 1000px; */
    height: 95%;
    /* background: rgba(20, 20, 20, 0.9); */
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 30px #000;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  
  .item-image {
    width: 31%;
    height: 78%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border-right: 2px solid var(--gold-crayola);
  }
  
  .item-details {
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    display: flex
;
    padding: 2rem;
    color: white;
    position: relative;
  }
  
  .item-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--gold-crayola);
    font-size: 2rem;
    gap: 2rem;
  }
  .item-header span{
    font-size: 3rem;
    font-weight: bold;
  }
  
  .item-description {
    margin-top: 1rem;
    font-size: 2.1rem;
    color: white;
    border-top: 1px dashed var(--gold-crayola);
    padding-top: 1rem;
  }
  .discriptionAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
  }
  
  .close-btn {
    position: absolute;
    top: 4rem;
    right: 20rem;
    font-size: 6rem;
    background: none;
    color: var(--gold-crayola);
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .order-btn {
    margin-top: 3rem;
    background: var(--gold-crayola);
    color: black;
    padding: 0.7rem 1.5rem;
    border: none;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1;
  }
  .order-menu {
    right: 0;
    top: 20%;
    width: 30%;
    background: #111;
    color: white;
    padding: 1rem;
    border: 2px solid var(--gold-crayola);
    border-radius: 12px;
    z-index: 100000;
    font-family: 'Poppins', sans-serif;
    display: none;
    position: absolute;
    cursor: move;
  }
  
  .order-menu h3 {
    color: var(--gold-crayola);
    margin-bottom: 1rem;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .remove-btn {
    background: var(--gold-crayola);
    color: black;
    border: none;
    cursor: pointer;
    padding: 0 6px;
    border-radius: 4px;
  }
  
  .order-total {
    margin-top: 1rem;
    text-align: center;
  }
  
  .place-order-btn {
    margin-top: 0.5rem;
    background: var(--gold-crayola);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  